<h2 ng-controller="contactoController as contacto"> {{ contacto.nameController }} </h2>

<!-- www.123contactform.com script begins here -->
<iframe allowTransparency="true" style="min-height:300px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="http://www.123contactform.com/my-contact-form-1535377.html">
<p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p>
</iframe>





<div class="contacto-info" ng-controller="contactoController as contacto">
	<p> {{ contacto.info }} </p>
</div>