<h2 ng-controller="contactoController as contacto"> {{ contacto.nameController }} </h2>

<iframe id="sended" name="sended" frameborder="0"></iframe>

<form name="frmContacto" action="app/components/contacto/send.php" target="sended" method="POST">

	<label for="first_name"><p>Nombre * </p></label> 
		<input title="se necesita su nombre" name="first_name" maxlength="50" type="text" required="">

	<label for="last_name"><p>Apellido *</p></label>
		<input title="se necesita su apellido" type="text" name="last_name" maxlength="50" requiered="">
	
	<label for="telephone"><p>Celular * </p></label>
		<input title="se necesita un numero celular" name="telephone" maxlength="25" type="text" id="celular" required="">

	<label for="email"><p>E-mail * </p></label>
		<input name="email" maxlength="80" type="email" id="mail" pattern="^[a-zA-Z0-9.!#$%&amp;'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
		

	<label for="comments"><p>Mensaje * </p></label>
		<textarea name="comments" maxlength="500" title="Se necesita un mensaje" required=""></textarea>
		
	<p><input type="submit" name="Submit" value="Enviar"></p>

</form>


<div class="contacto-info" ng-controller="contactoController as contacto">
	<p> {{ contacto.info }} </p>
</div>