@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400)
vendor-prefixes ?= webkit moz official

azul = #00AAFF
gris = #515151
gris_claro = #EEEEEE
vino_tinto = #8E2949

*
	border 0
	margin 0
	padding 0
	::-webkit-scrollbar
		background-color transparent
		height 6px
		width 6px
		&-track
			background-color transparent
		&-thumb
			background-color azul
			

		

body
	font-family 'Roboto', sans-serif
	font-weight 300
	line-height 2em
nav
	text-align center
	ul
		li
			display inline-flex
			margin 2em 10px
			position relative
			a
				animation 1s bounceIn 1
				background azul
				border-radius 100%
				box-shadow 0 2px 4px gris
				color white
				height 4em
				padding 2em
				text-decoration none
				width 4em
				transition all cubic-bezier(0.43, 0.6, 0, 0.99) 1s
				&:active
					border none
					box-shadow 0 2px 4px gris
				&:hover,
				&:focus
					border none
					box-shadow 0 4px 6px gris
					outline none
			i
				display block
				font-size 3em
				line-height 1.4 !important
				text-align center
			p
				bottom -40px
				color gris
				left 4px
				position absolute
				width 100%
footer
	padding 4em 2em
	text-align center
	
.modal_container
	text-align center
	ul li
		display inline-flex
		margin .2em
		a
			background gris_claro
			border-radius 2px
			color gris
			padding 2em
			text-align center
			text-decoration none
			p
				transition all cubic-bezier(0.08, 0.45, 0.24, 0.97) 1s 
				text-overflow ellipsis
				text-transform uppercase
				overflow hidden
				white-space nowrap
				width 162px
			&:hover
				background gris
				color gris_claro
ol
	margin-left 30px !important
	
blockquote
	margin 0 auto !important
#instagram-embed-0
	margin 0 auto !important
	
h2
		color azul
		font-size 18px
		font-weight 100
		letter-spacing 5px
		margin-top 1em
		padding-bottom 1em
		text-align center
		text-transform uppercase
		
.responsive-container
	position relative
	padding-bottom: 56.25%
	padding-top 30px 
	height 0 
	overflow hidden
	iframe,
	object,
	embed,
	img
		position absolute
		top 0
		left 0
		width 100%
		height 100%

#google_translate_element
	float right !important
	.goog-te-gadget-simple
		background transparent !important
		border none !important
#cover
	background white
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	z-index 9999999
#presentation
	background white
	color gris
	height 250px
	padding-top 1em
	text-align center
.pre-text
	letter-spacing .5em
	padding 10px
	text-align center
	h1
		animation 1.5s fadeIn 1
	p 
		animation 2s fadeIn 1

.back
	color azul
	letter-spacing 2px
	position relative
	text-decoration none
	text-transform uppercase
	top 20px
.center
	left 0
	margin 0 auto
	right 0
	text-align center
.container
	margin 0 auto
	max-width 600px
	position relative
.contacto-info
	margin 0 auto
	padding 1em 0 1em 0
	text-align center
	width 90%
.first
	background white
	box-shadow 0px 1px 10px gris
	color gris
	padding 2em
	position relative
	z-index 999
.flex
	align-items center
	display flex
	flex-flow row wrap
	justify-content center
.preloader
	background url(../img/preloader.gif) no-repeat center center
	background-size contain
	height 50px
	margin 0 auto
	width 50px
.pre-pic
	animation 1.5s fadeIn 1
	background url(../img/1.jpg) no-repeat center center
	background-size cover
	border-radius 50%
	height 150px
	margin 0 auto
	margin-bottom 1em
	width 150px	
.slider-for
	width 100%
.slick-slider
	margin 7px 0px
.slick-initialized .slick-slide
	box-shadow 0px 1px 8px gris	
.slick-prev
	position absolute
	left 0px
.slick-next
	position absolute
	right 50px
.title
	font-weight normal
	letter-spacing .5em
	padding 1em
	text-transform uppercase
	text-align center
.img-responsive
	width 100%

.send 
	height 35px
	max-height 35px
	overflow hidden
	width 100%

#sended
	width 100%
	height 40px

form 
	margin 0 auto
	text-align left
	text-transform capitalize
	width 80%
	p 
		font-weight 100
		letter-spacing .1em
		text-transform uppercase

	input[type="text"],input[type="email"],textarea 
		border 2px solid azul
		-webkit-border-radius 3px
		border-radius 3px
		letter-spacing 2px
		padding 5px
		width 100%

	input[type="submit"] 
		background azul
		border-radius 2px
		color #f1f1f1
		cursor pointer
		margin 0 auto
		padding 10px 15px
		width 100px
.grid
	margin 0 auto
	width 60%
.cien
	display block
	width 100% !important
	img
		border-radius 3px
		
@media all and (min-width:910px)
	body
		display flex
		align-items center
		align-content center
		border none
	footer
		bottom 0
		left 0
		padding 1em
		position fixed
		right 0
	nav
		ul
			flex-wrap wrap !important
			max-width 120% !important
			padding 0em 2em 0 2em	
			width 800px
	.container
		align-items center
		align-content flex-start
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		max-width 90%
		min-height 420px
		white-space nowrap
		.flex-item
			order 0
			flex 0 1 auto
			align-self auto
		h2
			text-align left !important
	.slider-for
		box-shadow 0px 1px 8px gris	
		width 508px
		height 508px
		max-width 508px
		min-width 508px
		min-height 508px
		max-height 508px
	.slick-slider
		border-radius 2	px
		margin 0
		overflow hidden
	.first
		background none
		box-shadow none
		color gris
		left 0
		right 0
		padding 1.5em 3.5em
		position fixed
		top 0
		.thumb
			display none
		.title,
		.pre-text
			display inline-flex
			padding 0 .5em 0 .5em