@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400)
vendor-prefixes ?= webkit moz official

azul = #5400FF
gris = #515151
gris-claro = #EEEEEE

*
	border 0
	margin 0
	padding 0
	::-webkit-scrollbar
		background-color transparent
		height 6px
		width 6px
		&-track
			background-color transparent
		&-thumb
			background-color azul 
		

body
	font-family 'Roboto', sans-serif
	font-weight 300
	line-height 2em
	border-bottom .2em solid azul
nav
	text-align center
	ul
		li
			display inline-flex
			margin 2em 10px
			position relative
			a
				background azul
				border-radius 100%
				box-shadow 0px 0px 4px gris, 0px 2px 4px gris
				color white
				height 4em
				padding 2em
				text-decoration none
				width 4em
				transition all cubic-bezier(0.08, 0.45, 0.24, 0.97) 1s 
				&:active,
				&:hover
					box-shadow 0px 0px 4px gris, 0px 6px 6px gris
			i
				display block
				font-size 3em
				line-height 1.4 !important
				text-align center
			p
				bottom -40px
				color gris
				left 4px
				position absolute
				width 100%
footer
	padding 4em 2em
	text-align center
	
#cover
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	z-index 9999999
#presentation
	background azul
	color white
	height 250px
	padding-top 1em
	text-align center
.pre-text
	letter-spacing .5em
	padding 10px
	text-align center
	h1
		animation 1.5s fadeIn 1
	p 
		animation 2s fadeIn 1
	
.azul
	background azul
.container
	margin 0 auto
	max-width 600px
	position relative
.first
	background azul
	box-shadow 0px 1px 10px gris
	color white
	padding 4em 2em
	position relative
	z-index 999
.flex
	align-items center
	display flex
	flex-flow row wrap
	justify-content center
.preloader
	background url(../img/preloader.gif) no-repeat center center
	background-size contain
	height 50px
	margin 0 auto
	width 50px
	-webkit-filter grayscale(100%) 
.pre-pic
	animation 1.5s fadeIn 1
	background url(../img/1.png) no-repeat center center
	background-size cover
	border-radius 50%
	height 150px
	margin 0 auto
	margin-bottom 1em
	width 150px	
.slider-for
	width 100%
.slick-slider
	margin 7px 0px
.slick-initialized .slick-slide
	box-shadow 0px 1px 8px gris	
.slick-prev
	position absolute
	left 0px
.slick-next
	position absolute
	right 50px
.title
	font-weight normal
	letter-spacing .5em
	padding 1em
	text-transform uppercase
	text-align center
.img-responsive
	width 100%

@media all and (min-width:910px)
	body
		padding-top 82px
		border none
	footer
		bottom 0
		left 0
		padding 1em
		position fixed
		right 0

	.container
		align-items stretch
		align-content flex-start
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		max-width 90%
		min-height 420px
		white-space nowrap
		.flex-item:nth-child(1)
			order 0
			flex 0 1 auto
			align-self auto
		.flex-item:nth-child(2)
			order 0
			flex 0 1 auto
			align-self auto
	.slider-for
		width 508px
		height 508px
		max-width 508px
		min-width 508px
		min-height 508px
		max-height 508px
	.slick-slider
		margin 0
	.first
		background none
		box-shadow none
		color gris
		left 0
		right 0
		padding 1.5em 3em
		position fixed
		top 0
		.thumb
			display none
		.title,
		.pre-text
			display inline-flex
			padding 0 .5em 0 .5em
	