<div class="container">


	<!-- SLIDER -->
	<section class="slider-for flex-item">
		<div class="single-item">
			<div>
				<img class="img-responsive" src="public/img/test.png">
			</div>
			<div>
				<img class="img-responsive" src="public/img/test.png">
			</div>
			<div>
				<img class="img-responsive" src="public/img/test.png">
			</div>
		</div>
	</section>
	<!-- END SLIDER -->


	<section class="menu flex-item" ng-controller="menuController as menu">
		<nav>
			<ul class="container">
				<li class="flex-item" ng-repeat="button in menu.buttons">
					<a id="{{ button.id }}" class="{{ button.modal_dir }}" ng-href="{{ button.dir_url }}">
					 <i class="{{ button.icon }}"></i>
					 <p>{{ button.btn_title }}</p>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	

</div>



<!-- SLIDER SCRIPT -->
<script>
	$(document).ready(function(){
		$('.slider-for').slick({
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        fade: true,
	        swipe: true,
	        accessibility: false,
	        arrows: false
	    });
	    $('.single-item').slick({
	    	autoplay: true,
	        slide: 'div',
	        dots: true,
	        speed: 500,
	        arrows: false
	    });
	});
</script>
<!-- END SLIDER SCRIPT -->